@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.content-wrapper {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    transition: all 0.3s ease;

}

.score {
    width: 80%;
    margin-bottom: 50px;
}

.icon-sizes {
    width: 40px;
    height: 40px;
}

.language-menu {
    cursor: pointer;
}

.menu-trigger {
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


.menu-dropdown {
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    z-index: 1000;
    min-width: 150px;
    animation: fadeIn 0.3s ease;
}

.menu-item {
    padding: 10px 15px;

}

.score li {
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.score li:hover {
    color: #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.info {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(229, 229, 229);
    margin-bottom: 50px;
    position: relative;
}

.info2 {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(229, 229, 229);
    margin-bottom: 50px;
    position: relative;
}

.info p {
    margin-bottom: 0;
}

.info2 p {
    margin-bottom: 0;
}

.text-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.info .text-right {
    width: 80%;
}

.info2 .text-right {
    width: 80%;
}

.info .img-small {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 20px;
}

.info2 .img-small {
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.info button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(60, 77, 255);
    border-radius: 16px;
    box-shadow: rgb(63, 34, 236) 0px 4px 0px 0px;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 13px;
}

.info2 button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(170, 170, 171, 0.416) 0px 4px 0px 0px;
    border-color: rgb(170, 170, 171);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 13px;
    color: rgb(28, 176, 246);
}


.info .text-right-top {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
}

.info2 .text-right-top {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
}


.task-list {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(229, 229, 229);
    margin-bottom: 50px;
    position: relative;
}

.task-img-small {
    width: 14%;
    margin-top: 19px;

}

.task-img-small2 {
    width: 10%;
    margin-top: 19px;
}