@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.content-wrapper {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    transition: all 0.3s ease;
    padding-left: 15px;
}

.score {
    width: 80%;
    margin-bottom: 30px;
}

.icon-sizes {
    width: 55px;
    height: 55px;
}

.language-menu {
    cursor: pointer;
}

.menu-trigger {
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


.menu-dropdown {
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    z-index: 1000;
    min-width: 150px;
    animation: fadeIn 0.3s ease;
}

.menu-item {
    padding: 10px 15px;

}

.score li {
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.score li:hover {
    color: #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.info {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(229, 229, 229);
    margin-bottom: 50px;
    position: relative;
}

.info_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    bottom: 10px;
    border-radius: 7px 10px 2px 1px;
    background-color: rgb(0 166 255 / 42%);
}

.info_top2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    bottom: 10px;
    border-radius: 7px 10px 2px 1px;
    background-color: rgb(143 255 0 / 48%);
}



.info p {
    margin-bottom: 0;
}


.text-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.info .text-right {
    width: 80%;
}



.info .img-small {
    width: 28%;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 10px;
    margin-top: 21px;
}

.info2 .img-small {

    top: 18px !important;
    margin-right: 10px !important;
}



.info button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(0 166 255 / 42%);
    border-radius: 16px;
    box-shadow: rgba(34, 148, 236, 0.645) 0px 4px 0px 0px;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 13px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.info button:hover {
    color: rgb(14, 39, 62);
    background-color: rgb(0 166 255 / 66%);

}


.info2 button {
    background-color: rgb(143 255 0 / 48%) !important;
    box-shadow: rgba(91, 236, 34, 0.645) 0px 4px 0px 0px;
}

.info2 button:hover {
    color: rgb(14, 39, 62);
    background-color: rgba(145, 255, 0, 0.77) !important;

}





.info .text-right-top {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10%;
}




.task-list {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(229, 229, 229);
    margin-bottom: 50px;
    position: relative;
}

.task-img-small {
    width: 16%;
    margin-top: 19px;

}

.task-img-small2 {
    width: 13%;
    margin-top: 30px;
}


.duo-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'Quicksand', sans-serif;
}

.duo-modal-content {
    background: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    max-width: 420px;
    width: 90%;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px rgba(82, 161, 179, 0.38);
    animation: popIn 0.3s ease-out;
    position: relative;
}

.duo-modal-content h4 {
    margin-bottom: 1rem;
    color: #066d3d86;
    font-size: 24px;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
}

.duo-modal-content p {
    color: #023047;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.duo-modal-close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 28px;
    background: #ff6868;
    border: none;
    border-radius: 30%;
    width: 36px;
    height: 36px;
    line-height: 32px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.duo-modal-close:hover {
    transform: scale(1.1);
}

/* Cartoon pop-in animasyonu */
@keyframes popIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}